<% layout('./layouts/boilerplate') %>
<body style="background-image:url('<%= campground.image %>'); background-repeat: repeat; background-size: cover;">
    <div class="row py-5">
        <div class="col-6">
            <div class="card text-center mb-4">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3em;"><%= campground.title %></h5>
                    <h5 class="card-title text-muted"><%= campground.location %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <h5 class="card-subtitle">$<%= campground.price %> per night</h5>
                    <br>
                    
                    <a href="/campgrounds/<%= campground._id %>/reviews" class="btn btn-success">Add Comment</a>
                    <% if(campground.username == user.username) {%>
                        <a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-primary">Edit</a>
                        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" style="display:inline;" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                    <a href="/campgrounds" class="btn btn-danger">Go Back</a>
                </div>
                <div class="card-footer text-center">
                    <% if(campground.username != undefined) {%>
                    Posted by: <%= campground.username %>
                    <% } else {%>
                        Posted by YelpCamp Team
                    <%}%>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-header" style="background-color: white;">
                        Map
                    </h1>
                    <div id='map' class="container mb-3" ></div>
                </div>
            </div>
            
        </div>
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h2>Reviews</h2>
                </div>
            </div>
            <% for (let r of campground.reviews) { %>
                <div class="card text-center mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                                <h5 class="card-subtitle"><%= r.user %></h5>
                                <p class="card-text"><%= r.text %></p>
                                <h5 class="card-subtitle mb-2"><%= r.rating %>/10</h5>
                                <% if(user.username == r.user) {%>
                                    <form action="/campgrounds/<%=campground._id%>/reviews/<%=r._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                <% } %>
                            <br>
                        </div>
                    </div>
                </div>   
            <% } %>     
        </div>
    </div>
</body>

<script type='text/javascript'>
    var singleItem = <%-JSON.stringify(campground)%>
</script>
<script src="/map.js"></script>